@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.zeyada-regular {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(15, 15, 15, 0.8);
}

input::placeholder,
.input-button {
  font-family: "Zeyada", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: normal;
}

input {
  width: 340px;
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(to right, rgba(254, 202, 202, 1), #f0f0f0);
  border: #f0f0f0 3px solid;
}
.input-button {
  display: grid;
  place-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  padding-top: 5px;
  background-color: #0f0f0f;
  border: none;
  background: linear-gradient(
    to right,
    #f0f0f0,
    rgba(254, 202, 202, 1),
    #f0f0f0
  );

  /* background: linear-gradient(to right, rgba(254, 202, 202, 1), red); */
}
.replace-inputs {
  display: flex;
  gap: 10px;
  width: 340px;
  height: 40px;
  input {
    width: 33.33%;
    height: 100%;
  }
}


.main{
  font-size: 20px;
  color: #7b6f6f;
  text-shadow: 2px 2px 4px black;
}